body{
  /*Cuadramos el fondo*/
  background-image: url(img/fondo.png);
  background-size: 100vw 100vh;
  background-attachment: fixed;
  margin: 0;

  font-family: monospace;
}

form {
  /*El formulario*/
  width: 450px;
  margin:auto;
  background:  rgba(0,0,0,0.4);
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 7px;
}
h2 {
  color:  #fff;
  text-align: center;
  margin: 0;
  font-size: 30px;
  margin-bottom: 20px;
}

input, textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  border: none;
}
textarea {
min-height: 100px;
max-height: 200px;
max-width: 100%;
}
#boton{
  background: green;
  color: #fff;
  padding: 20px;
}

#boton:hover{
  cursor: pointer;
}

/*Esto de media es como un fi si pasa de 480 ocrrira lo siguiente*/
@media (max-width:480px){
  form{
    width: 100%;
  }
}
h1 {
  text-align: center;
  color: #fff;
  font-size: 40px;
  background: rgba(0, 0, 0, 0.5);
  margin-top: 20px;
}
